*{
    margin: 0;
    padding: 0;
}
.father{
    background-color: rgb(250, 153, 153);
    display: flex;
    height: 220px;
    justify-content: space-around;
    align-items:center;

}
.box{
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 100px;
    height: 100px;
    background-color: rgb(191, 134, 224);

}
.box2{
    width: 120px;
    height: 120px;
    background-color: rgb(140, 45, 202);

}
.box3{
    width: 140px;
    height: 140px;
    background-color: rgb(82, 48, 173);

}
.box4{
    width: 160px;
    height: 160px;
    background-color: rgb(73, 17, 163);

}