@keyframes circle-to-square {
  from {
    width: 50px;
    height: 50px;
    background-color: #F498AD;
    left: 0;
  }
  to {
    width: 200px;
    height: 200px;
    background-color: #2E9AFF;
    left: calc(100% - 200px);
  }

}
body{
    height: 120px;
    margin: 240px;
}
.square1 {
  animation-name: circle-to-square;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
  animation-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1)position: relative;
  animation: circle-to-square 3s linear infinite; /* 3s — длительность, infinite — повтор */
}
